<?xml version="1.0" encoding="UTF-8"?>

<!-- config.xml reference: https://build.phonegap.com/docs/config-xml -->
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.hs-mannheim.swt.iCloudv1"
        version   = "1.0.2">

    <name>iCloudv1</name>

    <description>
      Mach bilder...Wenn das Netzwerk aktiviert ist upload von Bildern auf dem Server.
      Neue Bilder(auf server) werden auf dem Gerät Heruntergeladen.
    </description>

    <author href="http://www.hs-mannheim.de" email="franksimus@yahoo.fr">
        Michael Sime
    </author>

    
</widget>
